
body {
    background-color:#425553;
    color: rgb(0, 0, 0);
  }
  
  img {
    max-width: 500px;
    max-height: 500px;
    padding-bottom: 2%;
    padding-top: 2%;
  }
  
  h1 {
    color: #d6bd63;
    padding-bottom: 2%;
  }
  
  p {
    padding-bottom: 2%;
    color: #d6bd63;
  }